body{
    margin: 20px;

}
.ww{
    background: #882726;
    height:50px ;
    margin-bottom: 20px;
    text-align: center;color: aliceblue;


}


.target{
    background: silver;
    height: 80px;

}

.aa{
    background: #6395e8;
    height: 100px;
}
.b{
    background: #6bb967;
    height: 300px;
    width: 300px;
}
.c{
    background: #8785aa;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

